* {
  margin: 0;
	padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  margin: 1rem;
  padding-bottom: 7rem;
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  position: relative;
}

h1,h2,h3,h4,h5,h5,h6 {
  font-family: 'Alegreya Sans', sans-serif;
}

button, a {
  cursor: pointer;
}

h1 {
  margin-top: 2rem;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background: -webkit-linear-gradient(to bottom right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  margin-top: 1rem;
}


nav a {
  width: 25rem;
  margin:.5rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #2d3436;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  cursor: pointer;
  transition: .25s all;
}

nav a:hover{
  background-color: white;
  color: #2d3436;
  border: 1px solid #2d3436;
}

hr {
  width: 30rem;
  margin: 1rem auto;
  color: #2d3436;
  border-bottom: 1px solid #2d3436;
}

.dropdowns {
  position: relative;
}

.dropdowns_linksWrapper {
  display: none;
  overflow: hidden;
  height: auto;
  position: absolute;
  top: 0rem;
  z-index: 2;
}

.shadow {
  box-shadow: 0px 0px 7px 0px rgba(63, 63, 63, 0.664);
  border-radius: 5px;
  margin: .5rem;
}

.dropdowns_trailerLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation-duration: .5s;
  transition: .25s all;
}

.dropdowns_trailerLinks a {
  width: 25rem;
  padding: 1rem;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  border-bottom: 1px solid white;
  transition: .25s all;
}

.dropdowns_trailerLinks a:hover {
  background-color:#2d3436;
}

.trailerLinks_close, .movieInfo_close {
  color: white;
  font-size: 3.2rem;
  background-color: transparent;
  text-align: center;
  padding: .5rem 0;
  cursor: pointer;
  transition: .25s all;
}

.movieInfo_close {
  color: #c471ed;
  background-color: white;
  position: absolute;
  top: -2.5rem;
  right: -1rem;
}

.trailerLinks_close:hover, .movieInfo_close:hover {
  color: #2d3436;
  transform: rotate(500deg);
}

form {
  display: none;
  animation-duration: .3s;
  animation-fill-mode: both;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #2d3436;
  border-radius: 5px;
  font-size: 1.7rem;
  text-align: center;
}

.searchWrapper button {
  padding: .5rem;
  font-size: 1.7rem;
  color: white;
  background-color: #f64f59;
  border-radius: 5px;
}

input:focus{
  outline:none;
}

input[type=text] {
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
}

/* movie trailer info styles */
.player {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  padding: 1rem;
  margin: 2rem auto;
  position: relative;
  opacity: 0;
  border-radius: 5px;
  border: solid 1px #2d3436;
  transition: .25s filter;
}

.movieInfo_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.movieInfo_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.movieInfo h2 {
  color: #f64f59;
  font-size: 3.2rem;
}

.movieInfo_description {
  width: 80%;
  text-align: left;
}

.movieInfo_stats{
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  background-color: #f64f59;
  text-align: left;
  letter-spacing: 1px;
}

.readMore {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #f64f59;
}

.watchTrailer {
  width: 32rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f64f59;
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 5px;
  transition: .25s all;
}

.watchTrailer:hover {
  background-color: #12c2e9;
}


iframe {
  margin: 0 auto;
}


/* search results */

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchResults_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
  margin: 1rem;
  border: 2px solid grey;
  padding: 1rem;
  border-radius: 5px;
  background-color: #2d3436;
  text-align: center;
  color: white;
  transition: .25s all;
}

.searchResults_thumbnail:hover {
  transform: translateY(3px);
}

.searchResults_thumbnail img {
  width: 75%;
  height: auto;
  border: 1px solid white;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

footer {
  margin-top: 1rem;
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  text-align: center;
}



/* media queries  */
@media screen and (min-width: 768px) {

  h1 {
    font-size: 4.8rem;
  }
  nav {
    flex-direction: row;
  }

  .movieInfo_details {
    flex-direction: row;
    justify-content: space-around;
  }

  .movieInfo_stats {
    order: 1;
  }

  .description {
    width: 50%;
    order: 2;
  }

  .searchResults {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .searchResults_thumbnail {
    width: 30%;
    height: 25rem;
  }
}