* {
  margin: 0;
	padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  margin: 1rem;
  height: 100vh;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

h1,h2,h3,h4,h5,h5,h6 {
  font-family: 'Alegreya Sans', sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  margin-top: 2rem;
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background: -webkit-linear-gradient(to bottom right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;;
}

.nav_linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%
}

.nav_linkContainer a {
  border: 1px solid white;
  margin:.5rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  background-color: #2d3436;
  transition: .25s all;
  text-transform: uppercase;
  width: 25rem;
  text-align: center;
  font-size: 1.7rem;
  cursor: pointer;
}

.nav_linkContainer a:hover{
  background-color: white;
  color: #2d3436;
  border: 1px solid #2d3436;
}

#menu {
  color: #c471ed;
  font-size:1.7rem;
  border: 1px solid #c471ed;
  padding: 1rem;
  border-radius: 5px;
}

hr {
  color: #2d3436;
  width: 30rem;
  border-bottom: 1px solid #2d3436;
  margin: 1rem 0;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdowns_linksWrapper {
  overflow: hidden;
  height: auto;
}

.dropdowns_trailerLinks {
  width: 25rem;
  border-radius: 5px;
  transition: .25s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dropdowns_trailerLinks a {
  color: white;
  font-size: 1.7rem;
  padding: 1rem;
  cursor: pointer;
  transition: .25s all;
  width: 25rem;
  text-align: center;
  border-bottom: 1px solid white;
}

.dropdowns_trailerLinks a:hover {
background-color:#2d3436;
}

form {
  position: absolute;
  top: 45%;
}

.searchWrapper {
  padding: 1rem;
  width: 33rem;
  background-color: white;
  border: 1px solid #2d3436;
  border-radius: 5px;
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchWrapper button {
  font-size: 1.7rem;
  color: white;
  background-color: #f64f59;
  height: 100%;
  padding: .5rem;
  border-radius: 5px;
}

input:focus {
  outline:none;
}

input[type=text] {
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
}

/* movie trailer info styles */
.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px #2d3436;
}

.movieInfo h2 {
  color: #f64f59;
  font-size: 3.2rem;
}

.movieInfo_description {
  width: 80%;
  text-align: left;
}

.movieInfo_stats{
  text-align: left;
  width: 40%;
  align-self: flex-start;
  background-color: #f64f59;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}

.movieInfo p {
  font-weight: 400;
  margin: .5rem 0;
}

.readMore {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #f64f59;
}

.watchTrailer {
  margin: 1rem 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 3.2rem;
  padding: 1rem;
  width: 32rem;
  text-align: center;
  background-color: #f64f59;
  border-radius: 5px;
  color: white;
  transition: .25s all;
}

.watchTrailer:hover {
  transform: scale(1.2);
}

.videoPlayer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media queries  */
@media screen and (min-width: 768px) {
  nav {
    /* flex-direction: row; */
  }

  nav div {
    flex-direction: row;
  }

  #menu {
    /* display: none; */
  }

}

#f64f59
#c471ed
#12c2e9